<h1>Submit a new post!</h1>
<%= form_for(@post) do |f| %>
<div>
  <%= f.label :'Post Text' %><br>
  <%= f.text_area :posttext %>
  <%= f.text_field :postauthor %>
</div>
<div>
  <%= f.submit 'Create' %>
</div>
<% end %>
